.navbar {
    overflow: hidden;
   /* background-color: #f2f2f2;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid black;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
#logo-empresa{
    width: 50px;
    height: 50px;
    right: 30%;
    float: left; 
    
}
#img-derecha{
    float: right;
    width: 700px;
    height: 500px;
}