/*nav {
    top: 0;
    position : absolute;
    left : 0;
    width : 100%;
    background-color : #F5D3F0;
}
nav ul {
    margin : 0 auto;
    width : 940px;
    list-style : none;
    float: right;
}
nav ul li {
    float : left;
}
nav ul li a {
    display : block;
    margin-right : 20px;
    width : 40px;
    font-size : 14px;
    line-height : 45px;
    text-align: right;
    text-decoration : none;
    color : #000000;

    }
nav ul li a:hover {
    color : #fff;
}
nav ul li.selected a {
    color : #fff;
}*/
ul {
    position: -webkit-sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*position: fixed;    */
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #F5D3DF;
}

.seccion-1{
   /* background-color: aquamarine;*/
}

#logo-empresa{
    width: 90px;
    height: 90px;
}
#img-derecha{
    float: right;
    width: 500px;
    height: 500px;
}